platform: x86

version: '{branch}-{build}'

environment:
  matrix:
    - PYTHON: "C:\\Python27"
      TOX_ENV: py27
    - PYTHON: "C:\\Python35"
      TOX_ENV: py35
    - PYTHON: "C:\\Python36"
      TOX_ENV: py36
    - PYTHON: "C:\\Python35"
      TOX_ENV: freeze

branches:
  only:
    - master
    - fix-appveyor-build-for-release
    - /^v\d+\.\d+\.\d+[\w\-]*$/

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "SET TOX_TESTENV_PASSENV=HOME USERPROFILE HOMEPATH HOMEDRIVE"
  - "pip install -U tox twine wheel"

# No build stage, binaries are built in 'freeze' test environment
build: false

test_script:
  - "tox -e %TOX_ENV%"

artifacts:
  - path: dist_bin\shub.exe
  - path: dist_bin\shub-$(APPVEYOR_REPO_TAG_NAME)-windows-$(PLATFORM).zip

after_test:
  - if "%TOX_ENV%" == "freeze" (7z a %APPVEYOR_BUILD_FOLDER%\dist_bin\shub-%APPVEYOR_REPO_TAG_NAME%-windows-%PLATFORM%.zip %APPVEYOR_BUILD_FOLDER%\dist_bin\shub.exe) else (echo "Not in freeze environment, skipping zip creation")

deploy:
  provider: GitHub
  auth_token:
    secure: dYqilqswNHo/A+08lISafEpFx/wNOzk/7Iz4aTHode5BbVcGrLXWkNFczw6zzIN8
  artifact: dist_bin\shub-$(APPVEYOR_REPO_TAG_NAME)-windows-$(PLATFORM).zip
  draft: true
  on:
    appveyor_repo_tag: true
