version: '{branch}-{build}'

branches:
  only:
    - master
    - /^v\d+\.\d+$/

install:
  - "SET PATH=C:\\Python27;C:\\Python27\\Scripts;%PATH%"
  - "SET TOX_TESTENV_PASSENV=HOME USERPROFILE HOMEPATH HOMEDRIVE"
  - "pip install -U tox twine wheel"

# Build the binary after tests
build: false

test_script:
  - tox -e py27,freeze

artifacts:
  - path: .\dist\shub.exe
    name: "shub Windows binary"
