
version: '{branch}-{build}'

install:
  - "SET PATH=C:\\Python27;C:\\Python27\\Scripts;%PATH%"
  - "pip install -U tox twine wheel"

# Build the binary after tests
build: false

test_script:
  - tox -e py27,freeze

artifacts:
  - path: .\dist\shub.exe
    name: "shub Windows binary"
