/* override table width restrictions */
/* https://github.com/snide/sphinx_rtd_theme/issues/117#issuecomment-41506687 */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
