name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests-ubuntu:
    name: "Test: py${{ matrix.python-version }}, Ubuntu"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: '3.6'
          os: ubuntu-20.04
          tox-env: min
        - python-version: '3.6'
          os: ubuntu-20.04
          tox-env: py
        - python-version: '3.7'
          os: ubuntu-latest
          tox-env: py
        - python-version: '3.8'
          os: ubuntu-latest
          tox-env: py
        - python-version: '3.9'
          os: ubuntu-latest
          tox-env: py
        - python-version: '3.10'
          os: ubuntu-latest
          tox-env: py
        - python-version: '3.11'
          os: ubuntu-latest
          tox-env: py
        - python-version: '3.12'
          os: ubuntu-latest
          tox-env: py

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tox
      run: pip install tox

    - name: Run tests
      run: tox -e ${{ matrix.tox-env }}

    - name: Run off-tox tests
      # https://github.com/scrapinghub/shub/issues/441
      run: python -c "from shub.exceptions import ShubException; from shub.image.utils import get_docker_client; get_docker_client(validate=False)"

    - name: Upload coverage report
      run: |
        curl -Os https://uploader.codecov.io/latest/linux/codecov
        chmod +x codecov
        ./codecov

  tests-macos:
    name: "Test: py${{ matrix.python-version }}, macOS"
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: '3.6'
          tox-env: min
        - python-version: '3.6'
          tox-env: py
        - python-version: '3.7'
          tox-env: py
        - python-version: '3.8'
          tox-env: py
        - python-version: '3.9'
          tox-env: py
        - python-version: '3.10'
          tox-env: py
        - python-version: '3.11'
          tox-env: py
        - python-version: '3.12'
          tox-env: py

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tox
      run: pip install tox

    - name: Run tests
      run: tox -e ${{ matrix.tox-env }}

  tests-windows:
    name: "Test: py${{ matrix.python-version }}, Windows"
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: '3.6'
          tox-env: min
        - python-version: '3.6'
          tox-env: py
        - python-version: '3.7'
          tox-env: py
        - python-version: '3.8'
          tox-env: py
        - python-version: '3.9'
          tox-env: py
        - python-version: '3.10'
          tox-env: py
        - python-version: '3.11'
          tox-env: py
        - python-version: '3.12'
          tox-env: py

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tox
      run: pip install tox

    - name: Run tests
      run: tox -e ${{ matrix.tox-env }}
